/* BASE STYLES */
:root {
--clr-primary: #FFF;
--clr-accent: #1E6091;
--clr-footer: #414345;
--clr-dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* Weight 100, 200, 400, 500 available */
  font-weight: 200;
  line-height: 1;
  overflow-x: hidden;
}

.container {
  margin-top: 3rem;
}

img {
  max-width: 100%;
}

h3 {
  text-align: center;
}

p {
  font-weight: 100;
}

hr {
 margin-top: 5rem !important;
 
}

.fas, .far {
  color: var(--clr-accent);
  display: flex;
}



/* NAVIGATION */

.top-border {
  background-color: #fff;
}

.toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 95px;
  background: var(--clr-accent) url(../img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--clr-accent) url(../img/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  top: 0;
  position: fixed;
 display: flex;
 justify-content: center;
 background-color: #fff;
 width: 100vw;
 z-index: 999;
}

.logo img {
  margin-top: 0.5rem;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--clr-accent);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}

.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  transform: scale(0.5);
}



/* HEADER SECTION */

header {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 5rem;

}

header .office-img {
  height: 25rem;
  filter: brightness(0.5);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.overlay button {
  color: #fff;
  background-color: transparent;
  padding: 0.8rem;
  border: 1px solid var(--clr-primary);
  outline: none;
}
.overlay button:hover {
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
}
.overlay button:focus, overlay button:active{
   outline: none !important;
   box-shadow: none;
}

/* SERVICES SECTION */

.services .grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(7, 1fr);
 gap: 1rem;
margin-top: 4rem;
text-align: center;
}
.services h3 + p {
  text-align: center;
  margin-top: 1.5rem;
}

.services h4 {
  margin-top: 1rem;
}

/* INTERMEDIARIES SECTION */

.intermediaries h3 + p {
  text-align: center;
  margin-top: 1.5rem;
}

.intermediaries ul {
 margin-top: 1.5rem;
}

.intermediaries ul li {
  margin-top: 1rem;
  font-weight: 100;
  list-style-type: circle;
  font-weight: 400;
}


/* TESTIMONIALS SECTION */

.split h3 {
 text-align: left;
}
.about-director h3 {
 margin-top: 2rem;
}

.about-director img {
width: 60%;
border-radius: 50%;
scale: 0.6;
float: left;

}

.about-director p {
  padding: 0 2rem;
  margin-top: 2rem;
}


.testimonial-section {
  margin-top: 8rem;
}

.testimonial-section h3 {
  text-align: left;
}

.testimonial {
  margin-top: 2rem;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	overflow: hidden;
	max-width: 100%;
}

.testimonial-body {
	padding: 40px 40px 80px;
}

.testimonial-body p {
	color: #555;
	font-size: 20px;
	line-height: 36px;
	margin: 0;
}

.testimonial-body .fa-quote-right {
	color: #eee;
	font-size: 40px;
	float: right;
}

.testimonial-footer {
	background-color: var(--clr-accent); 
	color: #fff;
	padding: 40px;
	text-align: center;
}

.testimonial-footer img {
	border-radius: 50%;
	border: 5px solid #fff;
	height: 120px;
	width: 120px;
	margin-top: -100px;
}

.testimonial-footer h3 {
	margin: 10px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
  text-align: center;
}

.testimonial-footer h4 {
	color: lightgrey;
	margin: 0;
	letter-spacing: 1px;
}

.signature {
min-width: 100%;
}


/* CONTACT US SECTION */

sub-heading {
  margin-top: 1.5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.77rem;
}

input {
  background-color: #f7f8fa;
  border: none;
  padding: 0.5rem;
}
textarea {
  background-color: #f7f8fa;
  border: none;
  padding: 0.5rem;
}

form button { 
  width: 35%;
  padding: 0.7rem;
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  border: none;
  transition: ease-in 0.30s;
}
form button:hover { 
background-color: #333;
}



.contact-info h3 {
  margin: 2.5rem 0;
}

.contact-info .fas {
  color: var(--clr-primary);
  margin: 0 0.5rem;
  
}

.contact-info p {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  text-decoration: none;
}

.contact-info a {
  color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
  color: var(--clr-primary);
    text-decoration: underline;
}


/* FOOTER */
footer {
  background-color: var(--clr-footer);
  margin-top: 13rem;
  width: 100vw;
  bottom: 0;
  color: var(--clr-primary);
  text-decoration: none;
  list-style: none;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}

footer .fab {
  color: grey;
}



/* MEDIA QUERIES */
/* DESKTOP SIZE & TABLET SIZE */

@media(min-width: 40em) {
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

header .office-img {
  width: 100%;
}

.services {
  margin-top: 1.5rem;
}

.services .grid {
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(5, 1fr);
 justify-items: center;
 margin-top: 5rem;
 text-align: center;
}

.intermediaries ul {
  padding: 0 10rem;
}


.fas, .far {
  margin: 0;
}
.split {
  display: flex;
}

.split > * {
  flex-basis: 50%;
  padding: 3rem;
}

.split h3 {
  text-align: center;
}

.about-director img {
width: 100%;
border-radius: 50%;
scale: 1;
float: left;
margin-bottom: 3rem;
}

.about-director h3 {
 margin: 0;
 margin-top: 1.2rem;
}


.testimonial-section {
  margin: 0;
}



.contact-info h3 {
  margin: 0;
}

.contact-info h3 + p {
  margin-top: 3rem;
}



}